# Posttest 2 KB

Rivan Abdillah (2009106025)

In [34]:
import numpy as np
import pandas as pd
from tabulate import tabulate

## Tampil Dataset

In [6]:
dataset = pd.read_csv('steam.csv')
dataset

,appid,name,release_date,english,developer,publisher,platforms,required_age,categories,genres,steamspy_tags,achievements,positive_ratings,negative_ratings,average_playtime,median_playtime,owners,price
0,10,Counter-Strike,2000-11-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,124534,3339,17612,317,10000000-20000000,7.19
1,20,Team Fortress Classic,1999-04-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,3318,633,277,62,5000000-10000000,3.99
2,30,Day of Defeat,2003-05-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Valve Anti-Cheat enabled,Action,FPS;World War II;Multiplayer,0,3416,398,187,34,5000000-10000000,3.99
3,40,Deathmatch Classic,2001-06-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,1273,267,258,184,5000000-10000000,3.99
4,50,Half-Life: Opposing Force,1999-11-01,1,Gearbox Software,Valve,windows;mac;linux,0,Single-player;Multi-player;Valve Anti-Cheat en...,Action,FPS;Action;Sci-fi,0,5250,288,624,415,5000000-10000000,3.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27070,1065230,Room of Pandora,2019-04-24,1,SHEN JIAWEI,SHEN JIAWEI,windows,0,Single-player;Steam Achievements,Adventure;Casual;Indie,Adventure;Indie;Casual,7,3,0,0,0,0-20000,2.09
27071,1065570,Cyber Gun,2019-04-23,1,Semyon Maximov,BekkerDev Studio,windows,0,Single-player,Action;Adventure;Indie,Action;Indie;Adventure,0,8,1,0,0,0-20000,1.69
27072,1065650,Super Star Blast,2019-04-24,1,EntwicklerX,EntwicklerX,windows,0,Single-player;Multi-player;Co-op;Shared/Split ...,Action;Casual;Indie,Action;Indie;Casual,24,0,1,0,0,0-20000,3.99
27073,1066700,New Yankee 7: Deer Hunters,2019-04-17,1,Yustas Game Studio,Alawar Entertainment,windows;mac,0,Single-player;Steam Cloud,Adventure;Casual;Indie,Indie;Casual;Adventure,0,2,0,0,0,0-20000,5.19
27074,1069460,Rune Lord,2019-04-24,1,Adept Studios GD,Alawar Entertainment,windows;mac,0,Single-player;Steam Cloud,Adventure;Casual;Indie,Indie;Casual;Adventure,0,4,0,0,0,0-20000,5.19

## Info Dataset

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27075 entries, 0 to 27074
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   appid             27075 non-null  int64
 1   name              27075 non-null  object
 2   release_date      27075 non-null  object
 3   english           27075 non-null  int64
 4   developer         27075 non-null  object
 5   publisher         27075 non-null  object
 6   platforms         27075 non-null  object
 7   required_age      27075 non-null  int64
 8   categories        27075 non-null  object
 9   genres            27075 non-null  object
 10  steamspy_tags     27075 non-null  object
 11  achievements      27075 non-null  int64
 12  positive_ratings  27075 non-null  int64
 13  negative_ratings  27075 non-null  int64
 14  average_playtime  27075 non-null  int64
 15  median_playtime   27075 non-null  int64
 16  owners            27075 non-null  object
 17  price             27075 non-null  float64
dtypes: float64(1), int64(8), object(9)
memory usage: 3.7+ MB

## Jumlah Record

In [10]:
jumlah_record = len(dataset.index)
print("Jumlah Record :", jumlah_record)

Jumlah Record : 27075

## Nama Atribut

In [12]:
nama_atribut = '\n'.join(list(dataset.columns))
print("Nama Atribut: ", nama_atribut)

Nama Atribut:  appid
name
release_date
english
developer
publisher
platforms
required_age
categories
genres
steamspy_tags
achievements
positive_ratings
negative_ratings
average_playtime
median_playtime
owners
price

## Jumlah Atribut

In [15]:
jumlah_atribut = dataset.shape[1]
print("Jumlah Atribut:", jumlah_atribut)

Jumlah Atribut: 18

## Tipe Objek

In [19]:
tipe_objek = len(dataset.dtypes[dataset.dtypes == 'object'])
print("Jumlah Atribut Tipe Objek=", tipe_objek)

Jumlah Atribut Tipe Objek= 9

## Tipe Angka

In [20]:
Int = len(dataset.dtypes[dataset.dtypes == 'int64'])
Float = len(dataset.dtypes[dataset.dtypes == 'float64'])
tipe_angka = Int + Float
print("Jumlah Atribut Tipe Angka=", tipe_angka)

Jumlah Atribut Tipe Angka= 9

## Jumlah Nilai Null

In [21]:
jumlah_null = dataset.isnull().any().sum()
print("Jumlah Atribut Nilai Null=", jumlah_null)

Jumlah Atribut Nilai Null= 0

## Tampilan Dictionary

In [35]:
Dict = {
    "Nama Atribut" : [nama_atribut],
    "Jumlah Record" : [jumlah_atribut],
    "Tipe Objek" : [tipe_objek],
    "Tipe Angka" : [tipe_angka],
    "Jumlah Nilai Null" : [jumlah_null],
}

tabel = pd.DataFrame(Dict)
print(tabulate(tabel, headers='keys', tablefmt='psql', showindex=False))

+------------------+-----------------+--------------+--------------+---------------------+
| Nama Atribut     |   Jumlah Record |   Tipe Objek |   Tipe Angka |   Jumlah Nilai Null |
|------------------+-----------------+--------------+--------------+---------------------|
| appid            |              18 |            9 |            9 |                   0 |
| name             |                 |              |              |                     |
| release_date     |                 |              |              |                     |
| english          |                 |              |              |                     |
| developer        |                 |              |              |                     |
| publisher        |                 |              |              |                     |
| platforms        |                 |              |              |                     |
| required_age     |                 |              |              |                     |
| categories       |                 |              |              |                     |
| genres           |                 |              |              |                     |
| steamspy_tags    |                 |              |              |                     |
| achievements     |                 |              |              |                     |
| positive_ratings |                 |              |              |                     |
| negative_ratings |                 |              |              |                     |
| average_playtime |                 |              |              |                     |
| median_playtime  |                 |              |              |                     |
| owners           |                 |              |              |                     |
| price            |                 |              |              |                     |
+------------------+-----------------+--------------+--------------+---------------------+

## Rata-rata, Standar deviasi, Nilai minimum, Nilai maksimum, Q1, Q2, dan Q3 dari Attribute bertipe angka.

In [44]:
value = dataset.describe()
value.rename(index = {"count": "Jumlah Data","Mean": "Rata-rata","std": "Standar Deviasi", "min": "Nilai Minimum", 
                     "25%": "Q1", "50%": "Q2", "75%": "Q3", "max": "Nilai Maksimal"},inplace = True)
value

,appid,english,required_age,achievements,positive_ratings,negative_ratings,average_playtime,median_playtime,price
Jumlah Data,2.707500e+04,27075.000000,27075.000000,27075.000000,2.707500e+04,27075.000000,27075.000000,27075.00000,27075.000000
mean,5.962035e+05,0.981127,0.354903,45.248864,1.000559e+03,211.027147,149.804949,146.05603,6.078193
Standar Deviasi,2.508942e+05,0.136081,2.406044,352.670281,1.898872e+04,4284.938531,1827.038141,2353.88008,7.874922
Nilai Minimum,1.000000e+01,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.00000,0.000000
Q1,4.012300e+05,1.000000,0.000000,0.000000,6.000000e+00,2.000000,0.000000,0.00000,1.690000
Q2,5.990700e+05,1.000000,0.000000,7.000000,2.400000e+01,9.000000,0.000000,0.00000,3.990000
Q3,7.987600e+05,1.000000,0.000000,23.000000,1.260000e+02,42.000000,0.000000,0.00000,7.190000
Nilai Maksimal,1.069460e+06,1.000000,18.000000,9821.000000,2.644404e+06,487076.000000,190625.000000,190625.00000,421.990000

## Nilai Korelasi

In [45]:
dataset.corr()

,appid,english,required_age,achievements,positive_ratings,negative_ratings,average_playtime,median_playtime,price
appid,1.000000,-0.116878,-0.087740,0.040510,-0.070888,-0.052198,-0.070236,-0.048308,-0.152112
english,-0.116878,1.000000,0.002860,0.014121,0.006001,0.005705,0.000338,-0.003416,0.007716
required_age,-0.087740,0.002860,1.000000,-0.005459,0.060418,0.057599,0.034423,0.014748,0.120358
achievements,0.040510,0.014121,-0.005459,1.000000,0.006058,0.003578,0.014175,0.009957,-0.007996
positive_ratings,-0.070888,0.006001,0.060418,0.006058,1.000000,0.762804,0.157898,0.035776,0.036110
negative_ratings,-0.052198,0.005705,0.057599,0.003578,0.762804,1.000000,0.161140,0.047887,0.051259
average_playtime,-0.070236,0.000338,0.034423,0.014175,0.157898,0.161140,1.000000,0.914900,0.049242
median_playtime,-0.048308,-0.003416,0.014748,0.009957,0.035776,0.047887,0.914900,1.000000,0.036610
price,-0.152112,0.007716,0.120358,-0.007996,0.036110,0.051259,0.049242,0.036610,1.000000

## Attribute bertipe angka menjadi desimal 3 angka dibelakang koma

In [48]:
dataset['appid']*0.001

0        0.000001
1        0.000001
2        0.000001
3        0.000001
4        0.000001
           ...
27070    0.000001
27071    0.000001
27072    0.000001
27073    0.000001
27074    0.000001
Name: appid, Length: 27075, dtype: float64

## 10 Record pertama bertipe angka

In [50]:
number = ['int64', 'float64']
angka1 = dataset.select_dtypes(include=number).copy()
angka1.head(10)

,appid,english,required_age,achievements,positive_ratings,negative_ratings,average_playtime,median_playtime,price
0,0.001,1,0,0,124534,3339,17612,317,7.19
1,0.001,1,0,0,3318,633,277,62,3.99
2,0.001,1,0,0,3416,398,187,34,3.99
3,0.001,1,0,0,1273,267,258,184,3.99
4,0.001,1,0,0,5250,288,624,415,3.99
5,0.001,1,0,0,2758,684,175,10,3.99
6,0.001,1,0,0,27755,1100,1300,83,7.19
7,0.001,1,0,0,12120,1439,427,43,7.19
8,0.001,1,0,0,3822,420,361,205,3.99
9,0.001,1,0,33,67902,2419,691,402,7.19

## Menyimpan dataset dengan atribut bertipe angka ke dalam file CSV

In [51]:
angka1.to_csv('steam_angka.csv')